#cabeceraweb{
    background-color: cyan;
}

#navegacionprincipal{
    background-color: orangered;
}

#barralateral{
    background-color: teal;
}

#contenidoprincipal{
    background-color: yellowgreen;
}

#pieprincipal{
    background-color: plum;
}