table{
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: rgb(173, 255, 255);
    border:rgb(0, 0, 0) solid 1px;
    box-shadow: rgb(0, 0, 0) 10px 10px 10px;
    border-radius: 5px;
}
td{
    text-align: center;
}

th{
    font: 50px bold;
    font-family: Trattatello, fantasy;
}

button{
    width: 120px;
    height: 120px;
    border-radius: 30px;
    box-shadow: rgb(0, 0, 0) 10px 10px 10px;
    text-align: center;
    font: 50px bold;
    font-family: Trattatello, fantasy;
}